<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050055617140-mtp40rrooe0qiv0f1t87jt3lpn5c8vc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050055617140-mtp40rrooe0qiv0f1t87jt3lpn5c8vc2</string>
	<key>API_KEY</key>
	<string>AIzaSyDiHGSKhkPQ92Rpu_tA6w74dEis9GbMrSU</string>
	<key>GCM_SENDER_ID</key>
	<string>1050055617140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csiDoorLogs</string>
	<key>PROJECT_ID</key>
	<string>csi-door</string>
	<key>STORAGE_BUCKET</key>
	<string>csi-door.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050055617140:ios:47cea8065a203052347f21</string>
	<key>DATABASE_URL</key>
	<string>https://csi-door-default-rtdb.firebaseio.com</string>
</dict>
</plist>